html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #000000;
   color: #32CD32;
   font-family: "Classic Console Neue";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
}
#wb_Form1
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#Label1
{
   margin: 0;
   vertical-align: top;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #32CD32;
   font-family: "Classic Console Neue";
   font-weight: normal;
   font-style: normal;
   font-size: 37px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#Editbox2
{
   box-sizing: border-box;
   line-height: 37px;
   box-sizing: border-box;
   width: 100%;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #000000;
   background-image: none;
   color: #32CD32;
   font-family: "Classic Console Neue";
   font-weight: normal;
   font-style: normal;
   font-size: 37px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Editbox2
{
   margin: 0;
}
#Editbox2.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#Editbox2.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#Editbox2.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#Editbox2.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_Editbox2 .invalid-feedback
{
   color: #DC3545;
   display: none;
   font-family: "Classic Console Neue";
   font-weight: normal;
   font-size: 29px;
   margin-top: 0.25rem;
   width: 100%;
}
#Editbox2.is-invalid ~ .invalid-feedback
{
   display: block;
}
